<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/auth.css">

</head>
<body>


<%- include('../include/nav.ejs') %>

<main class="card" style="border-radius: 1.5rem">
    <% if (errorMessage) { %>
        <div class="error_message"><%= errorMessage %></div>
    <% } %>
    <form class="login-form" action="/reset" method="POST">
        <header class="card__header">
            <h1 class="product__title">Reset Password</h1>
        </header>
        <div class="form-control">
            <label for="email">Email Id</label>
            <input type="email" name="email" id="email">
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit" style="border-radius: 2em;">Reset Password</button>
    </form>
</main>

<%- include('../include/end.ejs') %>