<%- include('../include/head.ejs') %>
    </head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <body>
        <%- include('../include/nav.ejs') %>
        <main class="center">
            <h1><%= product.title %></h1>
            <hr>

            <div class="image">
                <img src="<%= product.img_url%>" alt="<%= product.title %>">
            </div>
            <h2>₹ <%= product.price %></h2>
            <p><%= product.descrip %></p>
            <% if (varified) { %>
                <%- include('../include/add_to_cart.ejs', {product: product}) %>
            <% } %>

        </main>
        <%- include('../include/end.ejs') %>